<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Welcome {{username}}</h1>
        </div>
        <div class="col-6 d-flex justify-content-end">
                <a class="btn btn-dark btn-lg btnEdit"  href="/profile/edit/{{id}}" > Edit </a>                                
        </div>        
    </div>
    <hr>
</div>
<h5 class="userCards">Your favourite cards</h5>
<div class="container userDeck">
   
</div>

<div class="container">
    
</div>


