<div class="index">
    <div class="container ">
        <div class="glide carousel">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <img src="../images/season1.jpg" alt="season1">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season2.jpg" alt="season2">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season3.jpg" alt="season3">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season4.jpg" alt="season4">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season5.jpg" alt="season5">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season6.jpg" alt="season6">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season7.jpg" alt="season7">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season8.jpg" alt="season8">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season9.png" alt="season9">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season10.jpg" alt="season10">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season11.png" alt="season11">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season12.jpg" alt="season12">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season13.jpg" alt="season13">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season14.jpg" alt="season14">
                    </li>
                    <li class="glide__slide">
                        <img src="../images/season15.jpg" alt="season15">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"
    integrity="sha512-BXASbMmKLu+RC5TDnkupyhvrjiOQXILh/5zgIS8k5JAC71a73lNweVEg/X+9XJQ7GK22PH9WpztY3zqrji+xrQ=="
    crossorigin="anonymous"></script>
<script>
        new Glide('.glide', {
                type: 'carousel',
                gap: 0,
                autoplay: 2000
            }).mount();
</script>