<div class="container justify-content-center cardTittle">
    <h1 class="card-title">Cards list</h1>
    <div class="row">

{{#each datos}}
<div class="col-2" style="padding: 6px;">
    <div class="card playerDeck backgroundCard" style="width: 9rem;">
        <img src="{{iconUrls.medium}}" class="card-img-top" alt="card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><strong> Max. Level : </strong>{{maxLevel}}</p>
            <a href="/cards/{{id}}" class="btn btn-dark btnLike" id="btnLike">like</a>
        </div>
    </div>
</div>
{{/each}}
    </div>
</div>
