<div class="container justify-content-center">
    <h1 class="card-title">Cards list</h1>
    <div class="row">
{{#each datos}}
<div class="col-2">
    <div class="card" style="width: 10rem;">
        <img src="{{iconUrls.medium}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text"><strong>Max. Level : </strong>{{maxLevel}}</p>
            <a href="#" class="btn btn-dark ">like</a>
        </div>
    </div>
</div>

{{/each}}

    </div>
</div>
